<div>
    <header class="page-header">
        <h3>Moins de 10</h3>
    </header>
</div>

<div>
        <md-button class="md-fab md-primary md-mini" aria-label="Reset Game"
            ng-click="resetGame()">
            <md-icon md-svg-src="app/web/img/icons/ic_settings_backup_restore_white_24px.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini" aria-label="Help"
            href="#/lessthantenhelp">
            <md-icon md-svg-src="app/web/img/icons/ic_help_white_24px.svg"></md-icon>
        </md-button>

    <table class="table">
        <thead>
            <tr style="background-color: #E0F7FA;">
                <th style="vertical-align: middle;" class="bold">
                    <md-button class="md-icon-button md-primary" aria-label="Remove all players"
                        ng-click="removeAllPlayers()">
                        <md-icon md-svg-src="app/web/img/icons/ic_delete_forever_black_18px.svg"></md-icon>
                    </md-button>
                    Joueurs
                    <md-button ng-if="!sortingEnabled"  class="md-icon-button md-primary" ng-disabled="true" aria-label="Refresh">
                        <md-icon md-svg-src="app/web/img/icons/ic_refresh_black_18px.svg"></md-icon>
                    </md-button>
                     <md-button  ng-if="sortingEnabled" class="md-fab md-primary md-mini" aria-label="Refresh" ng-click="sortPlayers(false)">
                        <md-icon md-svg-src="app/web/img/icons/ic_refresh_white_18px.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-primary md-mini" aria-label="Add Player"
                        ng-click="addPlayer()">
                        <md-icon md-svg-src="app/web/img/icons/ic_add_circle_white_24px.svg"></md-icon>
                    </md-button>
                    <span ng-if="sortingEnabled" style="font-weight: bolder; color: red;">Actualiser</span>                    
                </th>
                <th style="vertical-align: middle;" class="bold">
                    Evolution
                    <md-button class="md-fab md-mini" ng-disabled="true" aria-label="trend up button">
                        <md-icon md-svg-src="app/web/img/icons/ic_trending_up_black_18px.svg"></md-icon>
                    </md-button>
                </th>
                <th style="vertical-align: middle;" class="bold">
                    Total 
                    <md-button class="md-fab md-mini" ng-disabled="true" aria-label="dummy button">
                        <md-icon md-svg-src="app/web/img/icons/ic_format_list_numbered_black_24px.svg"></md-icon>
                    </md-button><br>
                </th>
            </tr>
         </thead>
        <tbody>
            <tr ng-repeat="player in players" ng-class="{selected: player.showButtons}" data-player-row-lessthanten></tr>
        </tbody>
    </table>
</div>
<br>
<div>
    <md-button class="md-raised md-primary" href="#/home">Accueil</md-button>
</div><br/>