<div>
    <header class="page-header">
        <h3>Moins de 10</h3>
    </header>
</div>

<div>
        <reset-button></reset-button>
        <help-button></help-button>
        <refresh-button></refresh-button>

    <table class="table">
        <thead>
            <tr style="background-color: #E0F7FA;">
                <th style="vertical-align: middle; text-align: center;" class="bold">
                    Joueurs
                    <add-player-less-than-ten-button>
                    </add-player-less-than-ten-button>
                </th>
                <th style="vertical-align: middle; text-align: center;" class="bold">
                    Evol.
                    <trend-up-button></trend-up-button>
                </th>
                <th style="vertical-align: middle; text-align: center;" class="bold">
                    Total
                    <dummy-button2></dummy-button2>
                </th>
            </tr>
         </thead>
        <tbody>
            <tr ng-repeat="player in players" data-player-row></tr>
        </tbody>
    </table>
</div>
<br>
<div>
    <md-button class="md-raised md-primary" href="#/home">Accueil</md-button>
</div><br/>