<div>
    <header class="page-header">
        <h3>Moins de 10 - Règles du jeu</h3>
    </header>
</div>
<div>
    <a class="btn btn-primary" href="#/lessthanten">Retour au jeu</a>
    <h3>But du jeu</h3>
    <div>
        <p>Le but du jeu est de totaliser le moins de points possible.</p>

        <p>La partie se termine lorsqu’au moins un des joueurs a atteint un total de points strictement supérieur à 200. Le gagnant est alors celui qui a le moins de points.</p>
    </div>

    <h3>Déroulement d'une manche</h3>
        <h4>Distribution</h4>
    <div>
        <p>La distribution et le jeu se font dans le sens horaire.</p>
        <p>On distribue à chaque joueur de 1 à 7 cartes (au choix) faces cachées une par une. Les cartes restantes sont placées faces cachées au centre de la table et forment la pioche. On retourne la première carte de la pioche qui forme la défausse.</p>

        <h4>Jeu</h4>

        <p>À son tour de jeu, un joueur a deux possibilités :
            <ul>
                <li>Défausser des cartes de son jeu et en piocher une nouvelle.</li>
                <li>Annoncer "Moins de 10" si le total des points dans sa main est strictement inférieur à 10 (non obligatoire!), et poser ses cartes faces visibles</li>
            </ul></p>

        <h4>Remplacement des cartes</h4>
        <p>Le joueur peut se défausser d'une combinaison de carte répondant à l'un des trois critères suivants :
            <ul>
                <li>Une carte seule</li>
                <li>Plusieurs cartes de même valeur (e.g. {7♠, 7♥ }, { V♣, V♥, V♦ } ).</li>
                <li>Une suite d'au moins 3 cartes de la même couleur (e.g. { A♦, 2♦, 3♦}; {9♣, 10♣, V♣, D♣ }). L'as ne peut pas être utilisé comme carte supérieure au Roi. Un joker peut être utilisé pour remplacer n'importe quelle carte de la suite {6♠, 7♠, Joker } ou {9♣,10♣, Joker, D♣ } seront donc des combinaisons valides.</li>
            </ul></p>

            <p>Le joueur doit alors piocher une carte, il a deux choix:
                <ul>
                    <li>Tirer la première carte de la pioche.</li>
                    <li>Prendre la dernière carte posée par le joueur précédent. Il ne peut cependant que choisir la carte la plus au-dessus de la pile .</li>
                </ul>
            </p>

        <h4>Moins de 10 - Fin</h4>
        <p>Le joueur peut annoncer "Moins de 10" au début de son tour si le total des points dans sa main est strictement inférieur à 10. Cette action met fin à la manche, chaque joueur révèle alors sa main et le décompte des points peut commencer.</p>
    </div>

    <h3>Décompte des points</h3>
    <div>
        <p>Si le joueur ayant annoncé "Moins de 10" a la main de plus faible valeur, il gagne la manche et ne marque aucun point. Sinon il marque 50 points, ou 25 points si un joueur ou plus a exactement la même somme.</p>

        <p>Chaque autre joueur marque un nombre de points égal à la valeur de sa main. (Sauf dans le cas où le joueur ayant annoncé "Moins de 10" a eu 25 ou 50.)</p>

        <p>Les cartes ont les valeurs suivantes :
            <ul>
                <li>Les As valent 1.</li>
                <li>Les nombres du 2 au 10 valent leur valeur.</li>
                <li>Les figures valent 10.</li>
                <li>Les Jokers valent -1.</li>
            </ul>
        </p>
        <p>Les points marqués viennent s'ajouter à ceux des manches précédentes.</p>
        <p>Le jeu prend fin lorsqu'un joueur a un total de points supérieur ou égal à 200.</p>
    </div>

</div>
<br/>
<div>Règles du jeu adaptées du <a href="https://fr.wikipedia.org/wiki/Yaniv_(jeu_de_cartes)" target="_blank">jeu "Yaniv"</a>.</div>
<br>
