<div>
    <header class="page-header">
        <h3>Moins de 10 - Bouttons</h3>
    </header>
</div>
<div>
    <md-button class="md-raised md-warn" href="#/lessthantenhelp">Retour au menu aide</md-button><br/>
    <md-button class="md-raised md-primary" href="#/lessthanten">Retour au jeu</md-button>
    <h3>Bouttons</h3>

    <div>
    	<md-container>
		    <md-button class="md-fab md-primary md-mini" aria-label="Reset Game">
		        <md-icon md-svg-src="app/web/img/icons/ic_settings_backup_restore_white_24px.svg"></md-icon>
		    </md-button>
		</md-container>
		Remettre tous les points à zéro
		<br/><br/>

		<md-container>
		    <md-button class="md-fab md-mini" aria-label="Help">
		        <md-icon md-svg-src="app/web/img/icons/ic_help_white_24px.svg"></md-icon>
		    </md-button>
		</md-container>
		Aide (Règles du jeu / fonctionnement des boutons)
		<br/><br/>

        <refresh-disabled-button></refresh-disabled-button>
        Actualisation du jeu non disponible
        <br/><br/>

        <md-container>
		    <md-button class="md-fab md-primary md-mini" aria-label="Refresh">
		        <md-icon md-svg-src="app/web/img/icons/ic_refresh_white_18px.svg"></md-icon>
		    </md-button>
		</md-container>
		Actualisation du jeu fortement conseillée (lorsqu'on a terminé de renseigner les points de tous les joueurs, ce bouton classera les joueurs en fonction de leurs points et affichera l'évolution)
		<br/><br/>

		<md-container>
		    <md-button class="md-icon-button md-primary" aria-label="Remove all players" ng-disabled="true">
		        <md-icon md-svg-src="app/web/img/icons/ic_delete_forever_black_18px.svg"></md-icon>
		    </md-button>
		</md-container>
		Supprimer tous les joueurs
        <br/><br/>

        <md-container>
		    <md-button class="md-fab md-primary md-mini" aria-label="Add Player">
		        <md-icon md-svg-src="app/web/img/icons/ic_add_circle_white_24px.svg"></md-icon>
		    </md-button>
		</md-container>
		Ajouter un joueur
        <br/><br/>

        <md-container>
		    <md-button class="md-icon-button md-primary" aria-label="Delete Player" ng-disabled="true">
		        <md-icon md-svg-src="app/web/img/icons/ic_delete_black_18px.svg"></md-icon>
		    </md-button>
		</md-container>
		Supprimer un joueur
        <br/><br/>
    </div>

</div>