<div>
    <header class="page-header">
        <h3>Président - Places</h3>
    </header>
</div>
<div>
    <md-button class="md-raised md-warn" href="#/presidenthelp">Retour au menu aide</md-button><br/>
    <md-button class="md-raised md-primary" href="#/president">Retour au jeu</md-button>
    <h3>Places</h3>

    <div>

	    <role-six-disabled></role-six-disabled> Empereur<br> 
	    <md-button class="md-icon-button md-primary" ng-disabled="true" aria-label="trend down icon">
        	<md-icon md-svg-src="app/web/img/icons/ic_arrow_drop_down_black_18px.svg"></md-icon>
    	</md-button><br>
	    <role-five-disabled></role-five-disabled> Président<br>
	    <md-button class="md-icon-button md-primary" ng-disabled="true" aria-label="trend down icon">
        	<md-icon md-svg-src="app/web/img/icons/ic_arrow_drop_down_black_18px.svg"></md-icon>
    	</md-button><br>
	    <role-four-disabled></role-four-disabled> Vice-Président<br>
	    <md-button class="md-icon-button md-primary" ng-disabled="true" aria-label="trend down icon">
        	<md-icon md-svg-src="app/web/img/icons/ic_arrow_drop_down_black_18px.svg"></md-icon>
    	</md-button><br>
	    <role-three-disabled></role-three-disabled> Neutre<br>
	    <md-button class="md-icon-button md-primary" ng-disabled="true" aria-label="trend down icon">
        	<md-icon md-svg-src="app/web/img/icons/ic_arrow_drop_down_black_18px.svg"></md-icon>
    	</md-button><br>
	    <role-two-disabled></role-two-disabled>Vice-Trouduc<br>
	    <md-button class="md-icon-button md-primary" ng-disabled="true" aria-label="trend down icon">
        	<md-icon md-svg-src="app/web/img/icons/ic_arrow_drop_down_black_18px.svg"></md-icon>
    	</md-button><br>
	    <role-one-disabled></role-one-disabled>Trouduc<br>
	    <md-button class="md-icon-button md-primary" ng-disabled="true" aria-label="trend down icon">
        	<md-icon md-svg-src="app/web/img/icons/ic_arrow_drop_down_black_18px.svg"></md-icon>
    	</md-button><br>
    	<role-zero-disabled></role-zero-disabled> Cloporte (ou stagiaire)

    </div>

</div>