<div>
    <header class="page-header">
        <h3>Président - Places</h3>
    </header>
</div>
<div>
    <md-button class="md-raised md-warn" href="#/presidenthelp">Retour au menu aide</md-button><br/>
    <md-button class="md-raised md-primary" href="#/president">Retour au jeu</md-button>
    <h3>Places</h3>

    <div>

	    <role-six-disabled></role-six-disabled> Empereur<br> 
	    <arrow-down-icon></arrow-down-icon><br>
	    <role-five-disabled></role-five-disabled> Président<br>
	    <arrow-down-icon></arrow-down-icon><br>
	    <role-four-disabled></role-four-disabled> Vice-Président<br>
	    <arrow-down-icon></arrow-down-icon><br>
	    <role-three-disabled></role-three-disabled> Neutre<br>
	    <arrow-down-icon></arrow-down-icon> <br>
	    <role-two-disabled></role-two-disabled>Vice-Trouduc<br>
	    <arrow-down-icon></arrow-down-icon> <br>
	    <role-one-disabled></role-one-disabled>Trouduc<br>
	    <arrow-down-icon></arrow-down-icon> <br>
    	<role-zero-disabled></role-zero-disabled> Cloporte (ou stagiaire)

    </div>

</div>