<div>
    <header class="page-header">
        <h3>Président</h3>
    </header>
</div>

<div>
        <reset-button></reset-button>
        <help-president-button></help-president-button>
        <dummy-button-3></dummy-button-3>
        <span ng-show="sortingEnabled">
            <refresh-enabled-button></refresh-enabled-button>
        </span>
        <span ng-show="!sortingEnabled">
            <refresh-disabled-button></refresh-disabled-button>
        </span>

    <table class="table">
        <thead>
            <tr style="background-color: #E0F7FA;">
                <th style="vertical-align: middle;" class="bold">
                    <remove-all-players-button></remove-all-players-button>
                    Joueurs
                    <add-player-button>
                    </add-player-button>
                </th>
                <th style="vertical-align: middle;" class="bold">
                    Tendance
                    <trend-up-button></trend-up-button>
                </th>
                <th style="vertical-align: middle;" class="bold">
                    Place
                    <role-button></role-button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in players" ng-class="{selected: player.showButtons}" data-player-row-president></tr>
        </tbody>
    </table>

</div>
<br>
<div>
    <md-button class="md-raised md-primary" href="#/home">Accueil</md-button>
</div><br/>