<div>
    <header class="page-header">
        <h3>Président - Menu Aide</h3>
    </header>
</div>
<div>
    <div>
        <md-button class="md-raised md-warn" href="#/presidentrules">Règles du jeu</md-button>
        <md-button class="md-raised md-warn" href="#/presidentroles">Places</md-button>
        <md-button class="md-raised md-warn" href="#/presidentbuttons">Bouttons (?)</md-button><br/>
        
        <md-button class="md-raised md-primary" href="#/president">Retour au jeu</md-button>
    </div>
</div>