<div>
    <header class="page-header">
        <h3>Président - Règles du jeu</h3>
    </header>
</div>
<div>
    <md-button class="md-raised md-warn" href="#/presidenthelp">Retour au menu aide</md-button><br/>
    <md-button class="md-raised md-primary" href="#/president">Retour au jeu</md-button>
    <h3>But du jeu</h3>
    <div>
        Le but de chaque joueur est de se débarrasser le plus rapidement possible de la totalité de ses cartes. Les joueurs ayant été les plus rapides à se débarrasser de leurs cartes ont droit à un avantage pour la partie suivante et inversement les plus lents se verront pénalisés par un handicap. L'intérêt de ce jeu est donc d'enchaîner plusieurs parties à la suite afin de voir les joueurs évoluer dans le classement.
    </div>

    <h3>Ordre des cartes</h3>
    <div>
        <p>Lors du déroulement du jeu, la force relative des cartes est dans cet ordre (de la plus faible à la plus forte) : 3, 4, 5, 6, 7, 8, 9, 10, Valet, Dame, Roi, As, 2 et, le cas échéant, Joker.</p>

        <p>Si une partie se joue avec un nombre réduit de cartes (32 cartes pour 4 joueurs et 30 cartes pour 3 joueurs), il est préférable d'appliquer l'ordre : 8, 9, 10, Valet, Dame, Roi, As, 7.</p>
    </div>

    <h3>Déroulement d'une manche</h3>
        <h4>La première partie</h4>
    <div>
        <p>Au début de la première partie, les rôles ne sont pas encore distribués. Un nombre égal de cartes est distribué à chaque joueur, les éventuelles cartes en trop pour assurer ce nombre égal de cartes sont identifiées publiquement et mises de côté. Le but de cette première partie n'est que d'assigner la hiérarchie de départ. Il est donc possible de ne pas la jouer et d'assigner la hiérarchie de départ autrement, par exemple selon l'ordre d'une carte piochée par chacun.</p>
        
        <p>La partie se déroule de la façon suivante :
            <ul>
                <li>Les joueurs déposent leurs cartes dans le sens des aiguilles d'une montre ;</li>
                <li>Le joueur venant après le joueur qui a distribué commence ;</li>
                <li>Le joueur pose de une à quatre cartes de même valeur ;</li>
                <li>Le joueur qui suit peut décider soit de passer son tour, soit de jouer. Il doit pour ce faire « monter », c'est-à-dire poser un nombre de cartes identique au pli posé sur la table mais affichant une valeur supérieure (ainsi une paire de 10 doit être suivie au minimum par une paire de valets) ;</li>
                <li>Lorsque tous les joueurs ont successivement passé leur tour, le joueur ayant joué en dernier commence un nouveau tour avec la combinaison de son choix ;</li>
                <li>Si les dernières cartes posées appartiennent à un joueur qui est sorti de la partie, la main est récupérée par le dernier joueur encore en jeu ;</li>
            </ul>
        </p>

        <p><strong>La hiérarchie</strong></p>

        <p>À la fin de la partie, chaque joueur reçoit un titre :

            <ul>
                <li>Le premier ayant réussi à se débarrasser de toutes ses cartes devient le Président,</li>
                <li>Le second le Vice-Président,</li>
                <li>L'avant-dernier le Vice-Trou du cul,</li>
                <li>Le dernier est le Trou du cul.</li>
            </ul>

        </p>

       <p>On peut aussi ajouter (si plus de 4 joueurs) des neutres, qui sont entre Vice-Président et Vice-Trou du cul. L'application propose aussi l'Empereur (meilleur que le Président) et le Cloporte (pire que le Trou du cul).</p>

    </div>

       <h4>Les Parties Suivantes</h4>

       <div>

       <p>À partir de la seconde partie d'une série, le trou du cul devient le distributeur et les ajustements suivants sont faits une fois les cartes distribuées :
            <ul>
                <li>Le Trou du cul donne au Président ses deux meilleures cartes ; en retour, celui-ci lui donne deux cartes de son choix</li>
                <li>Le Vice-Trou du cul donne au Vice-Président sa meilleure carte ; en retour, celui-ci lui donne une carte au choix (ici aussi, il peut être obligé de donner sa moins bonne carte, même si elle accompagne une paire ou un brelan, ou négocier avec le Vice-Trou du cul).</li>
                <li>Le joueur neutre, s'il y en a un, ne donne aucune carte et n'en reçoit pas.</li>
            </ul>

            La partie se déroule ensuite de façon identique à la première partie.

        </p>
        <p>En fin de partie, répartir à nouveau les titres, comme expliqué dans la section précédente.</p>

       </div>

</div>
<br/>