<div>
    <header class="page-header">
        <h3>Scopa</h3>
    </header>
</div>

<div>
        <reset-button></reset-button>
        <help-scopa-button></help-scopa-button>
        <dummy-button-3></dummy-button-3><br/>
        <md-switch-container>
            <md-switch ng-model="goal" aria-label="Switch">
                <span style="font-weight: bolder;" ng-show="!goal">11pts</span><span ng-show="goal">11pts</span> / <span style="font-weight: bolder;" ng-show="goal">21pts</span><span ng-show="!goal">21pts</span>   
            </md-switch>
        </md-switch-container>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="vertical-align: middle; background-color: #E0F7FA; text-align: center;" class="bold">
                    <edit-player-zero-button></edit-player-zero-button><br/>
                    {{players[0].name}}
                </th>
                <th style="vertical-align: middle; background-color: #B2EBF2;" class="bold">
                </th>
                <th style="vertical-align: middle; background-color: #E0F7FA; text-align: center;" class="bold">
                    <edit-player-one-button></edit-player-one-button><br/>
                    {{players[1].name}}
                </th>
            </tr>
        </thead>
        <tbody data-rows-scopa>
        </tbody>
    </table>

</div>
<br>
<div>
    <md-button class="md-raised md-primary" href="#/home">Accueil</md-button>
</div><br/>