<div>
    <header class="page-header">
        <h3>Scopa - Règles du jeu</h3>
    </header>
</div>
<div>
    <md-button class="md-raised md-warn" href="#/scopahelp">Retour au menu aide</md-button><br/>
    <md-button class="md-raised md-primary" href="#/scopa">Retour au jeu</md-button>
    <br>
    <hr>

    <div>

        <p>La <strong>Scopa</strong> (le balai) est un jeu de cartes italien joué avec un jeu de cartes italiennes. C'est un des jeux de cartes les plus connus en Italie au même titre que la briscola.</p>

        <p>En fonction des régions, des provinces, voire des villages, les règles du jeu et le décompte des points varient.</p>

        <p>On y joue habituellement à deux joueurs, ou à deux équipes de deux joueurs, mais on peut aussi y jouer à trois, quatre ou six joueurs indépendants.</p>

    </div>

    <br>
    <h3>Les cartes</h3>
    <hr>
    <div>
        Pour jouer à ce jeu, on utilise traditionnellement un <a href="https://fr.wikipedia.org/wiki/Jeu_de_cartes_italien" target="_blank">jeu de cartes italiennes</a>, avec les couleurs coupes, épées, bâtons, deniers. On peut également utiliser un jeu de cartes françaises que l'on réduit à 40 cartes(on enlevera alors les 8, les 9 et les 10).

        <br><br>
        <img src="app/web/img/playing_cards/Scopa.jpg" alt="Cartes Scopa" style="width:200px;height:150px;"><br>
        Jeu disponible sur <a href="http://www.amazon.fr/Jeu-40-cartes-Napoletane-Scopa/dp/B0018YSIGK" target="_blank">Amazon</a>.
    </div>

    <br>
    <h3>Le jeu</h3>
    <hr>
    <div>
        <p>Les joueurs se répartissent autour d'une table. On désigne ensuite un donneur.</p>

        <p>Le donneur distribue trois cartes à chaque joueur, en partant du joueur à sa droite et en tournant dans le sens inverse des aiguilles d'une montre. Ensuite, le donneur retourne quatre cartes sur la table.</p>

        <p>Si parmi ces cartes, il y a trois rois, personne ne pourrait faire "balai" (scopa), c'est-à-dire capturer toutes les cartes sur la table en un seul pli; la donne n'est donc pas valide et le donneur recommence.</p>

        <p>Le joueur à la droite du donneur commence : soit il place sur la table une carte, soit il joue une carte pour faire un pli. Pour faire un pli, il faut que la carte du joueur ait la même valeur faciale que la carte qu'il souhaite prendre. Il peut aussi prendre deux cartes si la somme de leurs valeurs vaut la carte posée par le joueur. Dans les deux cas, les cartes posées par le joueur et capturées lui appartiennent et sont enlevées du jeu.</p>

        <p><span style="font-style: italic;">Exemple :</span> <br>
            Le joueur a le <strong>2 de deniers</strong>, le <strong>5 d'épées</strong> et le <strong>7 de bâtons</strong>. 
        <div>
            <img src="app/web/img/playing_cards/2Deniers.PNG" alt="2Deniers" style="width:76px;height:130px;">.
            <img src="app/web/img/playing_cards/5Epees.PNG" alt="5Epees" style="width:70px;height:130px;">.
            <img src="app/web/img/playing_cards/7Batons.PNG" alt="7Batons" style="width:75px;height:130px;">.
        </div>
        <br>

        Sur la table, il y a l'<strong>as de deniers</strong>, le <strong>5 de coupes</strong> et le <strong>6 d'épées</strong>. 
        <div>
            <img src="app/web/img/playing_cards/1Deniers.PNG" alt="1Deniers" style="width:76px;height:130px;">.
            <img src="app/web/img/playing_cards/5Coupes.PNG" alt="5Coupes" style="width:75px;height:130px;">.
            <img src="app/web/img/playing_cards/6Epees.PNG" alt="6Epees" style="width:79px;height:130px;">.
        </div>
        <br>
        Le joueur peut alors :
            <ul>
                <li>
                    poser le 2 de deniers ;
                </li>
                <li>
                    prendre le 5 de coupes avec le 5 d'épées ;
                </li>
                <li>
                    ou prendre l'as de deniers et le 6 d'épées avec le 7 de bâtons.
                </li>
            </ul>
        </p>
        
        <p>Il est interdit de poser une carte avec laquelle on pourrait faire un pli. Si par exemple, un 2 et un 4 sont posés, le joueur ne peut pas poser un 6, à moins de prendre les deux cartes précédentes. De plus quand on pose une carte qui peut à la fois prendre une seule carte ou bien une combinaison de cartes, on doit prendre le moins de cartes possibles.</p>

        <p>Avec une carte, un joueur ne peut capturer qu'une ou deux cartes (mais pas trois ni quatre). Toutefois, dans de nombreuses variantes il est autorisé de capturer plus de deux cartes, permettant ainsi de multiplier les scope (c'est-à-dire le fait de capturer toutes les cartes du plateau) : cela rend le jeu plus attrayant.</p>

        <p>Une fois que tous les joueurs ont joué leurs trois cartes, le donneur distribue trois nouvelles cartes à chacun et on recommence par le joueur à la droite du donneur jusqu'à ce qu'il n'y ait plus de cartes. On ne remet aucune carte au centre de la table.</p>

        <p>Une fois que le donneur a joué la dernière carte, le dernier joueur à avoir fait un pli ramasse les cartes qui restent sur la table. On ne peut pas faire Scopa au dernier pli, même si la carte ou la somme des cartes qui restent sur la table le lui permettraient.</p>

        <p>Ensuite, on calcule les points de chaque joueur ou équipe puis le nouveau donneur (à la droite du précédent) recommence.</p>
    </div>

    <br>
    <h3>Décompte des points</h3>
    <hr>
    <div>
        <p>Les points sont attribués à la fin de chaque manche. Si l'on joue en équipe, les deux membres de l'équipe combinent leurs cartes pour calculer les points. Il y a 4 points par manche qui sont répartis respectivement pour le joueur qui a:
            <ul>
                <li>
                    le plus de cartes;
                </li>
                <li>
                    le plus grand nombre de deniers;
                </li>
                <li>
                    le 7 de deniers (il settebello : le 'beau sept');
                </li>
                <li>
                    les meilleures cartes de chaque couleur (la primiera, voir ci après).
                </li>
            </ul>
        </p>

        <p>Pour déterminer qui a la primiera, chaque joueur sélectionne la meilleure carte qu'il a dans chaque couleur suivant l'ordre ci-dessous et somme les valeurs de ces quatre cartes :
            <ul>
                <li>
                    7 : vingt et un points;
                </li>
                <li>
                    6 : dix-huit points;
                </li>
                <li>
                    as : seize points;
                </li>
                <li>
                    5 : quinze points;
                </li>
                <li>
                    4 : quatorze points;
                </li>
                <li>
                    3 : treize points;
                </li>
                <li>
                    2 : douze points;
                </li>
                <li>
                    roi, cavalier et valet: dix points chacun.
                </li>
            </ul>
        </p>

        <p>Par exemple, avec les 7 de coupes et de deniers, le 6 de bâtons et l'as d'épées, on marque (21 + 21 + 18 + 16) = 76 points. Celui qui totalise le plus de points pour les meilleures cartes remporte le point de l'item.</p>

        <p>Si deux équipes ou joueurs sont à égalité sur un des items, on n'attribue aucun point pour ce même item. Par exemple, si les deux équipes ont chacune vingt cartes, il n'y a pas de point pour le nombre de cartes.</p>

        <p>Le 7 de deniers est la carte qui vaut le plus de points dans une partie, car elle contribue à chacun des quatre items précédemment énoncés.</p>

        <p>En plus de ces quatre items (et donc des quatre points), on attribue aux joueurs des points supplémentaires pour chaque scopa qu'ils ont fait pendant le jeu.</p>

        <p>Une scopa est accordée si un joueur prend toutes les cartes sur la table. S'il reste un 2 et un 4 sur la table et qu'un joueur les prend avec un 6, il gagne une scopa. Pour compter facilement les scope, une des cartes du pli est retournée. Quant au dernier coup, le joueur au dernier pli ramasse toutes les cartes, il ne marque pas de scopa.</p>

        <p>On joue jusqu'à ce qu'une équipe gagne onze (ou seize, ou vingt et un) points et ait plus de points que les autres équipes.</p>
    </div>

    <br>
    <h3>Variante avec des cartes françaises</h3>
    <hr>
    <div>
        <p>Quand on joue avec des cartes françaises, il faut enlever douze cartes du jeu. Le plus simple est d'enlever toutes les figures et de jouer avec les cartes numérotées. On peut aussi enlever les 8, 9 et 10, la dame étant alors transformée en cavalier.</p>

        <p>Traditionnellement, les carreaux remplacent les deniers pour le comptage des points (les épées sont les piques, les coupes les cœurs, les bâtons les trèfles).</p>
    </div>

    <br>
    <h3>Stratégies</h3>
    <hr>
    <div>
        <p>La première règle à suivre consiste à prendre garde de ne pas laisser à l'adversaire (ou au joueur jouant ensuite dans le cas du jeu en équipes) la possibilité de faire une scopa. Pour cela, le joueur doit éviter, autant que possible, de laisser sur la table des cartes d'une valeur totale inférieure ou égale à 10.</p>

        <p>Au cours du jeu, les joueurs plus expérimentés peuvent prendre note mentalement (il est absolument interdit d'écrire) des cartes déjà jouées par qui et comment, en cherchant à mémoriser et deviner quelles cartes pourraient être dans la main de l'adversaire. Ainsi, ils pourront avec certitude laisser sur la table des combinaisons de cartes de valeur inférieure ou égale à 10, quand ils savent que l'adversaire ne pourra pas posséder les cartes nécessaires pour réaliser une scopa. Il est également envisageable de se baser sur des probabilités de possession, en fonction du nombre de cartes déjà jouées ou restantes dans la pioche.</p>

        <p>De plus, dans le jeu en équipes, il est possible de signaler la possession d'une carte à son compagnon, en jouant une carte de même valeur, ou en composant avec d'autres cartes la valeur souhaitée. Par exemple, s'il y a le trois sur la table et que le joueur désire faire savoir qu'il possède le settebello, il peut jouer un quatre. Évidemment, il faut tenir compte que ces signes sont compréhensibles des adversaires qui peuvent s'en servir contre vous.</p>

        <p>Une autre règle importante à observer est celle de conserver de manière particulière les cartes importantes lors du décompte des points, et donc de ne pas offrir à l'adversaire l'occasion de les prendre : le settebello, les autres cartes de deniers, le sept et le six qui sont fortement valorisés dans le décompte de la primiera.</p>
    </div>
</div>
<hr>
<div>Règles du jeu adaptées de <a href="https://fr.wikipedia.org/wiki/Scopa_(jeu_de_cartes)" target="_blank">Wikipedia</a>.</div>
<br>