<div>
    <header class="page-header">
        <h3>Scopa - Calcul de la primera</h3>
    </header>
</div>
<div>
    <md-button class="md-raised md-primary" href="#/scopa">Retour au jeu</md-button>
    <br>
    <hr>
    <span style="font-weight: bolder;">
        Entrer les 4 meilleurs cartes de chaque famille (selon l'ordre ci-dessous) :</span><br>
    <md-input-container style="margin-right: 10px;">
        <label>Carte 1</label>
        <md-select ng-model="primera_00">
            <md-optgroup label="Carte">
                <md-option value="21">7          </md-option>
                <md-option value="18">6          </md-option>
                <md-option value="16">1          </md-option>
                <md-option value="15">5          </md-option>
                <md-option value="14">4          </md-option>
                <md-option value="13">3          </md-option>
                <md-option value="12">2          </md-option>
                <md-option value="10">Figure     </md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;">
    <label>Carte 2</label>
    <md-select ng-model="primera_01">
        <md-optgroup label="Carte">
            <md-option value="21">7          </md-option>
            <md-option value="18">6          </md-option>
            <md-option value="16">1          </md-option>
            <md-option value="15">5          </md-option>
            <md-option value="14">4          </md-option>
            <md-option value="13">3          </md-option>
            <md-option value="12">2          </md-option>
            <md-option value="10">Figure     </md-option>
        </md-optgroup>
    </md-select>
    </md-input-container><br>
    <md-input-container style="margin-right: 10px;">
    <label>Carte 3</label>
    <md-select ng-model="primera_02">
        <md-optgroup label="Carte">
            <md-option value="21">7          </md-option>
            <md-option value="18">6          </md-option>
            <md-option value="16">1          </md-option>
            <md-option value="15">5          </md-option>
            <md-option value="14">4          </md-option>
            <md-option value="13">3          </md-option>
            <md-option value="12">2          </md-option>
            <md-option value="10">Figure     </md-option>
        </md-optgroup>
    </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;">
    <label>Carte 4</label>
    <md-select ng-model="primera_03">
        <md-optgroup label="Carte">
            <md-option value="21">7          </md-option>
            <md-option value="18">6          </md-option>
            <md-option value="16">1          </md-option>
            <md-option value="15">5          </md-option>
            <md-option value="14">4          </md-option>
            <md-option value="13">3          </md-option>
            <md-option value="12">2          </md-option>
            <md-option value="10">Figure     </md-option>
        </md-optgroup>
    </md-select>
    </md-input-container><br>
    
        
        <md-button class="md-raised"><span style="font-weight: bolder; color: #00ACC1;">Résultat : {{+primera_00 + +primera_01 + +primera_02 + +primera_03}}</span></md-button>
</div>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="vertical-align: middle; background-color: #E0F7FA; text-align: center;" class="bold">
                Cartes
            </th>
            <th style="vertical-align: middle; background-color: #E0F7FA; text-align: center;" class="bold">
                Points
            </th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in cards" style="vertical-align: middle; text-align: center;">
        <td>
            {{item.card}}
        </td>
        <td>
            {{item.points}}
        </td>
    </tr>
    </tbody>
</table>
<br><br>