<div>
    <header class="page-header">
        <h3>Scopa - Calcul de la primera</h3>
    </header>
</div>
<div>
    <md-button class="md-raised md-primary" href="#/scopa">Retour au jeu</md-button>
    <br>
    <hr>
    <span style="font-weight: bolder;">
        {{players[0].name}} :</span><br>
    <md-input-container style="margin-right: 10px;">
        <label>Carte 1</label>
        <md-select ng-model="primera_00">
            <md-optgroup label="Carte">
                <md-option value="21">7          </md-option>
                <md-option value="18">6          </md-option>
                <md-option value="16">1          </md-option>
                <md-option value="15">5          </md-option>
                <md-option value="14">4          </md-option>
                <md-option value="13">3          </md-option>
                <md-option value="12">2          </md-option>
                <md-option value="10">Figure     </md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;">
    <label>Carte 2</label>
    <md-select ng-model="primera_01">
        <md-optgroup label="Carte">
            <md-option value="21">7          </md-option>
            <md-option value="18">6          </md-option>
            <md-option value="16">1          </md-option>
            <md-option value="15">5          </md-option>
            <md-option value="14">4          </md-option>
            <md-option value="13">3          </md-option>
            <md-option value="12">2          </md-option>
            <md-option value="10">Figure     </md-option>
        </md-optgroup>
    </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;">
    <label>Carte 3</label>
    <md-select ng-model="primera_02">
        <md-optgroup label="Carte">
            <md-option value="21">7          </md-option>
            <md-option value="18">6          </md-option>
            <md-option value="16">1          </md-option>
            <md-option value="15">5          </md-option>
            <md-option value="14">4          </md-option>
            <md-option value="13">3          </md-option>
            <md-option value="12">2          </md-option>
            <md-option value="10">Figure     </md-option>
        </md-optgroup>
    </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;">
    <label>Carte 4</label>
    <md-select ng-model="primera_03">
        <md-optgroup label="Carte">
            <md-option value="21">7          </md-option>
            <md-option value="18">6          </md-option>
            <md-option value="16">1          </md-option>
            <md-option value="15">5          </md-option>
            <md-option value="14">4          </md-option>
            <md-option value="13">3          </md-option>
            <md-option value="12">2          </md-option>
            <md-option value="10">Figure     </md-option>
        </md-optgroup>
    </md-select>
    </md-input-container><br>
    <span style="font-weight: bolder;">
        Résultat : {{+primera_00 + +primera_01 + +primera_02 + +primera_03}}</span>
</div>

<div>
    <hr>
    <span style="font-weight: bolder;">
        {{players[1].name}} :</span><br>
    <md-input-container style="margin-right: 10px;">
        <label>Carte 1</label>
        <md-select ng-model="primera_10">
            <md-optgroup label="Carte">
                <md-option value="21">7          </md-option>
                <md-option value="18">6          </md-option>
                <md-option value="16">1          </md-option>
                <md-option value="15">5          </md-option>
                <md-option value="14">4          </md-option>
                <md-option value="13">3          </md-option>
                <md-option value="12">2          </md-option>
                <md-option value="10">Figure     </md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;">
    <label>Carte 2</label>
    <md-select ng-model="primera_11">
        <md-optgroup label="Carte">
            <md-option value="21">7          </md-option>
            <md-option value="18">6          </md-option>
            <md-option value="16">1          </md-option>
            <md-option value="15">5          </md-option>
            <md-option value="14">4          </md-option>
            <md-option value="13">3          </md-option>
            <md-option value="12">2          </md-option>
            <md-option value="10">Figure     </md-option>
        </md-optgroup>
    </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;">
    <label>Carte 3</label>
    <md-select ng-model="primera_12">
        <md-optgroup label="Carte">
            <md-option value="21">7          </md-option>
            <md-option value="18">6          </md-option>
            <md-option value="16">1          </md-option>
            <md-option value="15">5          </md-option>
            <md-option value="14">4          </md-option>
            <md-option value="13">3          </md-option>
            <md-option value="12">2          </md-option>
            <md-option value="10">Figure     </md-option>
        </md-optgroup>
    </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;">
    <label>Carte 4</label>
    <md-select ng-model="primera_13">
        <md-optgroup label="Carte">
            <md-option value="21">7          </md-option>
            <md-option value="18">6          </md-option>
            <md-option value="16">1          </md-option>
            <md-option value="15">5          </md-option>
            <md-option value="14">4          </md-option>
            <md-option value="13">3          </md-option>
            <md-option value="12">2          </md-option>
            <md-option value="10">Figure     </md-option>
        </md-optgroup>
    </md-select>
    </md-input-container><br>
    <span style="font-weight: bolder;">
        Résultat : {{+primera_10 + +primera_11 + +primera_12 + +primera_13}}</span>
</div>