<!--NAME-->
<td style="vertical-align: middle;" ng-click="setSelected($index)">
    <md-button class="md-icon-button md-primary" aria-label="Remove Player"
        ng-click="removePlayer($index)">
        <md-icon md-svg-src="app/web/img/icons/ic_delete_black_18px.svg"></md-icon>
    </md-button>
    {{player.name}}
</td>
<!--TREND-->
<td style="vertical-align: middle;">
    <trend-icon player-trend="player.trend+1"></trend-icon> {{player.evolution}}
    <!-- {{player.points}} -->
    <div ng-show="player.showButtons">
        <md-button class="md-raised md-primary" ng-click="addTwentyFive()">+25</md-button>
        <md-button class="md-raised md-primary" ng-click="addFifty()">+50</md-button>
    </div>
</td>
<!--TOTAL-->
<td  style="vertical-align: middle; text-align: center;" class="bold">
    <span ng-show="player.offsetWithPreviousPlayer != -1" style="font-size: 11px; color: red; text-decoration: inherit;">
        (+{{player.offsetWithPreviousPlayer}}) szefjnbdfsjkfds
    </span>
    <br>{{player.points}} 
    <div ng-show="player.showButtons">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <form ng-submit="addPoints()">
                    <label>Points de {{currentPlayerName}}</label>
                    <input type="number" ng-model="newPoints">
                    <md-button type="submit" class="md-raised md-warn">OK</md-button>
                </form>                                
            </md-input-container>                        
        </div>
    </div>
    
</td>