<!--NAME-->
<td style="vertical-align: middle;" ng-click="setSelected($index)">
    <md-button class="md-icon-button md-primary" aria-label="Remove Player"
        ng-click="removePlayer($index)">
        <md-icon md-svg-src="app/web/img/icons/ic_delete_black_18px.svg"></md-icon>
    </md-button>
    {{player.name}}
</td>
<!--TREND-->
<td style="vertical-align: middle;">
    <trend-icon player-trend="player.trend+1"></trend-icon> {{player.evolution}}
</td>
<!--ROLE-->
<td style="vertical-align: middle;">
    
    <role-select player-role="player.role" role-disabled="false" ng-click="setSelected($index)"></role-select>
    <div ng-show="player.showButtons">

        <div ng-cloak>
            <div>
                <div layout="row">
                    <md-input-container style="margin-right: 10px;">
                        <label>Nouveau rôle</label>
                        <md-select ng-model="roleSelect">
                            <md-optgroup label="Rôle">
                                <md-option value="6"><role-select player-role="'6'" role-disabled="true"></role-select>
                                    Empereur
                                </md-option>
                                <md-option value="5"><role-select player-role="'5'" role-disabled="true"></role-select>
                                    Président
                                </md-option>
                                <md-option value="4"><role-select player-role="'4'" role-disabled="true"></role-select>
                                    V.Président
                                </md-option>
                                <md-option value="3"><role-select player-role="'3'" role-disabled="true"></role-select>
                                    Neutre
                                </md-option>
                                <md-option value="2"><role-select player-role="'2'" role-disabled="true"></role-select>
                                    V.Trouduc
                                </md-option>
                                <md-option value="1"><role-select player-role="'1'" role-disabled="true"></role-select>
                                    Trouduc
                                </md-option>
                                <md-option value="0"><role-select player-role="'0'" role-disabled="true"></role-select>
                                    Cloporte
                                </md-option>
                            </md-optgroup>
                        </md-select>
                        <md-button class="md-raised md-primary" ng-click="changeRole(roleSelect)">OK</md-button>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
</td>