<tr>
    <td style="vertical-align: middle; text-align: center;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals0[0]" class="md-align-middle" ng-click="updateValidateEnabled()" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>
    <td style="vertical-align: middle; text-align: center; font-weight: bold;">
        Cartes
    </td>
    <td  style="vertical-align: middle; text-align: center;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals1[0]" class="md-align-middle" ng-click="updateValidateEnabled()" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>
</tr>

<tr>
    <td style="vertical-align: middle; text-align: center;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals0[1]" class="md-align-middle" ng-click="updateValidateEnabled()" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>
    <td style="vertical-align: middle; text-align: center; font-weight: bold;">
        Primera
    </td>
    <td  style="vertical-align: middle; text-align: center;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals1[1]" class="md-align-middle" ng-click="updateValidateEnabled()" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>
</tr>

<tr>
    <td style="vertical-align: middle; text-align: center;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals0[2]" class="md-align-middle" ng-click="updateValidateEnabled()" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>
    <td style="vertical-align: middle; text-align: center; font-weight: bold;">
        Settebello
    </td>
    <td  style="vertical-align: middle; text-align: center;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals1[2]" class="md-align-middle" ng-click="updateValidateEnabled()" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>
</tr>

<tr>
    <td style="vertical-align: middle; text-align: center;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals0[3]" class="md-align-middle" ng-click="updateValidateEnabled()" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>
    <td style="vertical-align: middle; text-align: center; font-weight: bold;">
        Pièces
    </td>
    <td  style="vertical-align: middle; text-align: center;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals1[3]" class="md-align-middle" ng-click="updateValidateEnabled()" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>
</tr>

<tr>
    <td style="vertical-align: middle; text-align: center;">
        <div layout-gt-sm="row" ng-click="updateValidateEnabled()">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Nombre</label>
                <input type="number" ng-model="goals0[4]">                 
            </md-input-container>                        
        </div>
    </td>
    <td style="vertical-align: middle; text-align: center; font-weight: bold;">
        Scopa
    </td>
    <td  style="vertical-align: middle; text-align: center;">
        <div layout-gt-sm="row" ng-click="updateValidateEnabled()">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Nombre</label>
                <input type="number" ng-model="goals1[4]">                     
            </md-input-container>                        
        </div>
    </td>
</tr>

<tr style="background-color: #E0F7FA;">
    <td style="vertical-align: middle; text-align: center;">
        <span style="color: blue; font-weight: bolder; font-size: 18px;" ng-show="display0Won">
                GAGNE
        </span>
    </td>

    <td style="text-align: center;">
        <span ng-show="validateEnabled">
            <validate-enabled-button></validate-enabled-button>
        </span>
        <span ng-show="!validateEnabled">
            <validate-disabled-button></validate-disabled-button>
        </span>
        <br/>
        <span ng-show="continueEnabled">
            <continue-enabled-button></continue-enabled-button>
        </span>
        <span ng-show="!continueEnabled">
            <continue-disabled-button></continue-disabled-button>
        </span>
    </td>

    <td style="vertical-align: middle; text-align: center;">
        <span style="color: blue; font-weight: bolder; font-size: 18px;" ng-show="display1Won">
                GAGNE
        </span>
    </td>
</tr>

<tr>
    <td>
        <p>Avant : {{players[0].previousPoints}}</p>
        <p>Main : {{players[0].handPoints}}</p>
    </td>
    <td style="background-color: #E0F7FA; text-align: center; vertical-align: middle;">
        <span ng-show="rematchEnabled">
                <rematch-button></rematch-button>
        </span>
    </td>
    <td>
        <p>Avant : {{players[1].previousPoints}}</p>
        <p>Main : {{players[1].handPoints}}</p>
    </td>
</tr>
<tr>
    <td>
        <strong>TOTAL : {{players[0].totalPoints}}</strong>
    </td>
    <td style="background-color: #E0F7FA;">
    </td>
    <td>
        <strong>TOTAL : {{players[1].totalPoints}}</strong>
    </td>
</tr>

