<tr>
    <td style="vertical-align: middle;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals0[1]" class="md-align-middle" ng-click="updateValidateEnabled(0,1)" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>
    <td style="vertical-align: middle; text-align: center; font-weight: bold;">
        Primeria
    </td>
    <td  style="vertical-align: middle;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals1[1]" class="md-align-middle" ng-click="updateValidateEnabled(1,1)" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>
</tr>