
    <td style="vertical-align: middle;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals0[0]" class="md-align-middle" ng-click="updateValidateEnabled(0,0)" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>
    <td style="vertical-align: middle; text-align: center; font-weight: bold;">
        Cartes
    </td>
    <td  style="vertical-align: middle;">
        <div flex-xs flex="50">
            <md-checkbox md-no-ink ng-model="goals1[0]" class="md-align-middle" ng-click="updateValidateEnabled(1,0)" aria-label="Checkbox">
            </md-checkbox>
        </div>
    </td>