<tr>
    <td style="vertical-align: middle;">
        <div>
            <md-button class="md-icon-button md-primary" aria-label="Add Scopa"
                ng-click="addScopa(0)">
                <md-icon md-svg-src="app/web/img/icons/ic_add_box_black_18px.svg"></md-icon>
            </md-button><br>
            <span style="font-weight: bolder; padding-left: 20px;">{{goals0[4]}}</span><br>
            <md-button class="md-icon-button md-primary" aria-label="Remove Scopa"
                ng-click="removeScopa(0)">
                <md-icon md-svg-src="app/web/img/icons/ic_indeterminate_check_box_black_24px.svg"></md-icon>
            </md-button><br>
        </div>
    </td>
    <td style="vertical-align: middle; text-align: center; font-weight: bold;">
        Scopa
    </td>
    <td  style="vertical-align: middle;">
        <div>
            <md-button class="md-icon-button md-primary" aria-label="Add Scopa"
                ng-click="addScopa(1)">
                <md-icon md-svg-src="app/web/img/icons/ic_add_box_black_18px.svg"></md-icon>
            </md-button><br>
            <span style="font-weight: bolder; padding-left: 20px;">{{goals1[4]}}</span><br>
            <md-button class="md-icon-button md-primary" aria-label="Remove Scopa"
                ng-click="removeScopa(1)">
                <md-icon md-svg-src="app/web/img/icons/ic_indeterminate_check_box_black_24px.svg"></md-icon>
            </md-button><br>
        </div>
    </td>
</tr>